@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import 'slickgrid/slick.grid.css';
@import 'slickgrid/css/smoothness/jquery-ui-1.11.3.custom.min.css';
@import 'slickgrid/controls/slick.pager.css';
@import 'slickgrid/controls/slick.gridmenu.css';
@import 'slickgrid/controls/slick.columnpicker.css';


body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
}

.bodydark::-webkit-scrollbar { width: 12px; }
.bodydark::-webkit-scrollbar-track { background: #222;  }
.bodydark::-webkit-scrollbar-thumb { background-color: #666; }

.App .ui-widget {
  font-size: 0.83em;
  font-family: "Nunito Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr.highRow { background: #FBB360; }
.bp4-breadcrumbs  { padding: 25px 0; }

$bodybg-c:#111217;
$bodybg-light-c:#EEE;
$menubg-dark-c:#181B1F;
$menutxt-dark-c:#bebebe;
$greyyc-c:#444;
$blew-c:#2C92B6;
$blew-selected:#3DB2E2;
$slickbg-c:#333;
body { background-color: $bodybg-light-c; }
body.bodydark { background-color: $bodybg-c; }


.bp4-dark table.bp4-html-table.bp4-html-table-striped tbody tr:nth-child(2n+1) th {
  background: rgba(95, 107, 124, 0.15);
}

.infoNotyfy { background-color: #F92;}
.infoNotyfy { background-color: #F92;}


/**************************** .Collapsible *****************************/
// defined within dashboardPage to reduce scope.
.dashboardPage {
  #SubConfigEditor {
    .aform .bp4-input { height:auto; }
  }
  // .Collapsible { background-color: transparent; }

  .Collapsible__contentInner {
    padding: 5px 5px 5px 25px;
    border: 1px solid $slickbg-c;
    border-top: 0; }
    .Collapsible__contentInner p {
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 15px; }
      .Collapsible__contentInner p:last-child {
        margin-bottom: 0; }

  .Collapsible__trigger {
    margin-top: 8px;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: $slickbg-c;
    position: relative;
    border: 1px solid $greyyc-c;
    padding: 4px 5px;
    background: $bodybg-c;
    color: $bodybg-light-c; }
    .Collapsible__trigger:after {
      font-family: 'FontAwesome';
      content: '⌄';
      position: absolute;
      right: 10px;
      top: 3px;
      display: block;
      transition: transform 300ms; }
    .Collapsible__trigger.is-open:after {
      transform: rotateZ(180deg); }
    .Collapsible__trigger.is-disabled {
      opacity: 0.5;
      background-color: $greyyc-c; }

  .CustomTriggerCSS {
    background-color: $blew-c;
    transition: background-color 200ms ease; }

  .CustomTriggerCSS--open {
    background-color: $blew-selected; }

  .Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: $blew-c;
    color: black; }
}


/**************************** flexlayout - start *****************************/
#root .flexlayout__tab_button:hover,#root .flexlayout__tab_button  {
  background-color: #a3bada;
  font-size: 80%;
  color:#ccc;
}
#root .Appdark .flexlayout__tab_button,#root .Appdark .flexlayout__tab_button:hover {
  background-color: $bodybg-c;
}
.flexlayout__tab_toolbar button { margin:0; padding:0; }

#root .Appdark .flexlayout__tab_button--unselected {
  background-color: transparent !important;
}
#root .flexlayout__tab_button--unselected {
  background-color: transparent !important;  
  color:#555;
}

// #root .flexlayout__tabset_tabbar_outer_top { display:none; height:0; } - HIDE TAB

#root .flexlayout__tabset-selected {
  background-color: none;
  background-image: none;
}
#root .App .flexlayout__tabset_tabbar_outer_top  { border-bottom: 1px solid #333;}
#root .App .flexlayout__tabset-selected { border-bottom: 1px solid $blew-c;}
#root .flexlayout__tabset_tabbar_outer_top { border-bottom: none;}
.dupeicon { background-color: transparent; border:0;  }

.Appdark .flexlayout__tab { background-color: $bodybg-c !important;}
.Appdark .flexlayout__tabset_tabbar_outer { background-color: $bodybg-c !important;}

#root .Appdark .flexlayout__splitter {
  background-color: $greyyc-c;
}
#root .Appdark .flexlayout__splitter:hover,#root .Appdark .flexlayout__splitter:active,#root .Appdark .flexlayout__splitter:focus {
  background-color: $blew-c;
}


/**************************** flexlayout - end *****************************/


/**************************** DOCS *****************************/
// docs-root > docs-app > (aside>docs-nav-wrapper>docs-nav) THEN (main>docs-content-wrapper>docs-content-wrapper)

.docs-app {
  max-width: 1030px;
  padding: 0 5px 40px 40px;
}

.docs-app img {
  border:2px solid #555;
  margin:10px 10px;
}

.docs-content h1 { margin:25px auto; }

.docs-content-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-preferred-size: 1030px;
  align-items: flex-start;
  flex-basis: 1030px;
  outline: none;
  margin-left: 220px;
}

.docs-nav {
  height: 100vh;
  overflow-y: auto;
  padding:10px 10px 30px 10px;
  position: fixed;
}

.docs-content .db-integrations img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  padding:10px;
  border:0;
  margin:0;
}

.Appdark .db-integrations img { 
  -webkit-filter:  grayscale(100%) invert(1);
  filter:  grayscale(100%) invert(1);
}

.docs-content .db-integrations img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


/* Creates wrapped boxes on first help page */


.icon-box-s3 {
  padding: 50px 50px 45px;
  margin-bottom: 30px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.icon-box-s3:hover {
  border-color: #7141b1;
}
.icon-box-s3 .top-box {
  overflow: hidden;
  margin-bottom: 50px;
}
.icon-box-s3 .icon-main {
  float: left;
  text-align: center;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background: #f4f2fc;
  border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.icon-box-s3:hover .icon-main {
  background: #7141b1;
}
.icon-box-s3 .icon-main svg {
  width: 45px;
  fill: #7141b1;
  vertical-align: middle;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.icon-box-s3:hover .icon-main i, .icon-box-s3:hover .icon-main svg {
  color: #fff;
  fill: #fff;
}
.icon-box-s3 .top-box a {
  float: right;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
.icon-box-s3 h5 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

/**************************** loginPage *****************************/
.loginPage { 
  text-align: center;
}
.loginForm {
  width:400px;
  margin: 40px auto;
  text-align: center;
}

/**************************** SlickGrid *****************************/
.bodydark .slick-gridmenu {
  background: $menubg-dark-c !important; 
  border: $menubg-dark-c !important; 
  color:$menutxt-dark-c !important; 
  box-shadow: none;
}
.bodydark .slick-gridmenu .blue {  color:$menutxt-dark-c !important;  }
.bodydark .slick-gridmenu .slick-gridmenu-item-divider  {
  background:$greyyc-c !important; 
}
.bodydark .slick-gridmenu hr {
  border-top: 1px solid $greyyc-c;
}

#root button.filterButton { padding:0; margin:0; }

.GRcontextMenu {
  position:fixed;
  padding: 0;
  display: inline-block;
  min-width: 100px;
  z-index: 99999;
  font-size: 0.8em;
  border:1px solid #bbb; 
}

.GRcontextMenu ul { padding:0; }

.GRcontextMenu li {
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.GRcontextMenu li:hover { background-color: $bodybg-light-c; }
.Appdark .GRcontextMenu {  border:1px solid #555; }
.Appdark .GRcontextMenu li:hover { 
  color:black;
}


.slick-preheader-panel.ui-state-default  {
  width: 100%;
  overflow: hidden;
  border-left: 0px !important;
  border-bottom: 0px !important;
}
.slick-preheader-panel .slick-header-columns {
  border-bottom: 0px !important;
}

.slick-cell.copied, .slick-cell.selected {
  background: blue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
}

.blue { color: rgb(73, 73, 255); }
.orange { color: orange; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.rightAligned { text-align: right; }

.slick-gridmenu-item-hidden {
  display: none;
}
.slick-headerrow-column {
  background: #BDD8E0;
  text-overflow: clip;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slick-headerrow-column input {
  margin: 0;
  padding: 0;
  margin-left:1px;
  width: calc(100% - 17px);
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.icon-help {   background-image: url(../node_modules/slickgrid/images/help.png);}

/** you could optionally style the grid menu column picker list with font-awesome checkboxes */
.slick-gridmenu-list li,
.slick-columnpicker-list li {
  cursor: pointer;
  margin: 4px;
}
.slick-gridmenu-list label,
.slick-columnpicker-list label {
  padding: 1px;
  display: block;
  cursor: pointer;
}



.Appdark .slick-pane.slick-pane-header.slick-pane-left{
  color: #9EA7A7;
}
.Appdark .ui-state-default.slick-header-column{
  color: #9EA7A7;
}

.Appdark .ui-state-default.slick-header-column:hover{
  color: #EEE;
}

.Appdark .ui-state-default{
  background: transparent;
}
.slick-preheader-panel .slick-header.ui-state-default.slick-header-left{
  border: none;
}
.slick-pager { color: #444; }

.Appdark .slick-pager{
  color: #9EA7A7;
}
#prefix-3{
  border: 1px solid silver !important;
}
.Appdark #prefix-3{
  border: 1px solid #5C5C5C !important;
}
.Appdark .slick-preheader-panel.ui-state-default  {
  border: none;
}
#prefix-4,
#prefix-8{
  width: 100% !important;
}



// slickgrid dark mode

.grcontainer {
  background-color: #DDD;
  .slick-gridmenu-button {
    z-index: 10;
  }
  .slick-header {
    .slick-header-column {
      border-color: transparent;
      position: relative;
      
      &::before {
        content: "";
        width: 1px;
        background: #424242;
        height: 15px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
      }
    }
  }

  .slick-row .slick-cell {
      border: 0;
      padding-top:0;
      padding-bottom:0;
      line-height: 24px;

  }
}


.slick-row {
  &.even { background: #EEEEFF; }
}

.Appdark {

  .grcontainer {
    background-color: #242424;
    .slick-preheader-panel { background: #424242; }
    .slick-pane-header { background: $slickbg-c; 
      .slick-header { background: $slickbg-c; border: $slickbg-c;
        .slick-header-column { background: $slickbg-c; font-weight: bold; color:#CCC; }
      }
    }

    .slick-row {
      &.odd { background: #222222; }
      &.even { background: $bodybg-c; }
      .slick-cell { color: #f5f5f5; }
    }

    .slick-headerrow {
      border-top: 1px solid transparent;

      .slick-headerrow-column {
        border: 0;
      }
    }

    .slick-pager {
      background: #242424;
      border:none;
    }
    
    .slick-row .slick-cell {
      border-bottom: 1px solid #5c5c5c;
    }
  }
}

/**************************** GR = GRidContainer  *****************************/

.grcontainer input[type=checkbox],
.slick-gridmenu-list input[type=checkbox],
.slick-columnpicker-list input[type=checkbox] {
  display:none; /* to hide the checkbox itself */
}
.grcontainer input[type=checkbox] + label:before,
.slick-gridmenu-list input[type=checkbox] + label:before,
.slick-columnpicker-list input[type=checkbox] + label:before {
  cursor: pointer;
  font-family: FontAwesome;
  color: #013668;
  font-weight: bold;
  display: inline-block;
  content: "\f00c";
  font-size: 13px;
  margin-right: 4px;
}
.grcontainer input[type=checkbox] + label:before,
.slick-gridmenu-list input[type=checkbox] + label:before,
.slick-columnpicker-list input[type=checkbox] + label:before {
  opacity: 0.2; /* unchecked icon */
}
.grcontainer input[type=checkbox]:checked + label:before,
.slick-gridmenu-list input[type=checkbox]:checked + label:before,
.slick-columnpicker-list input[type=checkbox]:checked + label:before {
  opacity: 1; /* checked icon */
}

.slick-viewport {
  overflow-x: hidden !important;
}

.grcontainer .status,.grcontainer .bp4-tag { color:#222; padding-top: 0; padding-bottom: 0; min-height: auto; }
.Appdark .grcontainer .status,.Appdark .grcontainer .bp4-tag { color:#eee; }
.grcontainer .status { background-color: #818080;}
.grcontainer .status-new { background-color: #2d72d2;}
.grcontainer .status-success { background-color: #238551;}
.grcontainer .status-warning { background-color: #cc6613;}
.grcontainer .status-danger { background-color: #aa3824;}


/**************************** SlickGrid  END *****************************/

.App {
  height: 100vh;
}

.Appdark {
  background-color: $bodybg-c;
}

.bp4-form-group.bp4-inline {
  align-items: center !important;
}

.page {
  margin: 5px 6% auto;
  padding: 0 2%;
}


.logoImg { width:96px; height:20px;  background-image: url('../public/img/logo-dark.png'); background-size: cover;  }
.Appdark .logoImg { background-image: url('../public/img/logo-white.png'); }
#root .topNavBar .logoImg { background-image: url('../public/img/logo-white.png'); }

/* Page: Dash id=x */

#dashfooter {
  position: fixed;
  height:90%;
  right:0;
  top: 63px;
  width: 600px;
}

#dashfooter ul {
  position: fixed;
  bottom: -15px;
  z-index: -1;
}

a:hover {
  text-decoration: none !important;
}


.topNavBar {
  padding:1px 10px 4px;
  background-color: #1D43A7;
  box-shadow: none !important;
}

.Appdark .topNavBar {
  background-color: #40455A;
}

.topNavBar .dashTitle { font-size: 70%; text-align: center; vertical-align: middle; margin:5px 0 0 50px; }
.topNavBar .bp4-navbar-group, .bp4-navbar { height:32px !important; }

/** topNavBar  **/
.topNavBar .bp4-button  { color: #a7b6c2; }

.App .topNavBar .bp4-button {
  background-color: transparent;
}

@media (max-width: 1100px) {
  .topNavBar .leftNavbarGroup .bp4-navbar-divider { display:none; }
  .topNavBar .bp4-button-text { display:none; }
  .topNavBar .dashTitle { margin-left:10px; }
}
@media (max-width: 900px) {
  .topNavBar .bp4-button { padding:2px; margin:2px; }
  .dashboardPage .editToggle { padding:1px;  margin:0 1px 0 1px; }
}

@media (max-width: 650px) {
  .topNavBar  .bp4-button-text { display:none; }
  .topNavBar  .bp4-navbar-divider { display:none; }
  .topNavBar .rightNavBar { display:none; }
  // .topNavBar .logoImg { width:48px; height:13px;background-size: 100% 100%; background-repeat: no-repeat;}
  .topNavBar .dashTitle { margin-left:0; }
}

@media (max-width: 600px) {
  .topNavBar .editToggle { display:none; }
}

#appPage .topNavBar .bp4-button, #appPage .topNavBar span, #appPage .topNavBar { color: white; }

#appPage .TopMenu {
  margin-bottom: 2px;
  padding-top: 2px;
  text-align: center;
}


#appPage .TopMenu .bp4-button {
  /* background-color: #111; color:white; border:0; */
  margin:0 1px;
}
#flexContainer {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  /* height: 90vmax; */
  height: calc(100vh);
  border: 1px solid gray;
}

.echarts-for-react {
  height: 99% !important;
  width: 99% !important;
}

.iframey {
  position: relative;
  height: 2000px;
  width: 100%;
}

/*** EDITOR2 is the code editors shown on sql editor page AND dashboardpage drawer. 
 drawerFormWrapper - Is only the AFORM editor
 .aform is the resulting form  to ONLY edit the dashboard aform editor **/
#editor2 .bp4-form-group {
  float: left;
  margin: 0 5px;
}

#editor2 table td { padding:0; vertical-align: middle; text-align: center;  }
#editor2 table button { margin:0; padding:0 }
#editor2 #editor2-footer-addbuttons path { stroke: #444 !important; color:#444 !important}
.Appdark #editor2 #editor2-footer-addbuttons path { stroke: #ccc !important;  color:#ccc !important}

#editor2 .formMyModal label { display:inline; }
#editor2 .formMyModal .datePickerConfig label { display:block; }

.FormComponents {  min-width: 500px; }



/**************************** #pageMain - i.e. The first page opened *****************************/
.Appdark #pageMain { 
  background-image: none;
}
#pageMain {
  background-image: url(../public/img/bg-banner-home-6.png);
  background-repeat: no-repeat;
  background-position: 0 -650px;
}

#pageMain section {
  padding: 30px 0 10px 0;
}

#pageMain section.home-top { margin-top: 0; padding-top: 0; }

#pageMain section.home-intro {}

#pageMain section.home-examples {
  text-align: center;
 }

.Appdark #pageMain section.home-demo {
  background-image: url(../public/img/bg-banner-home-6.png);
  background-repeat: no-repeat;
  background-position: 0 -650px;
  background-color: #EEE; 
  color:#222;
 }
 .Appdark  #pageMain section.home-demo canvas {
  background-color: transparent; 
  border: 1px solid grey;
  background-color: #EEE; 
  margin: 6px;
  padding: 0;
  border-radius: 10px;
 }
#pageMain section.home-demo {
  background-color: $bodybg-c; 
  color:#EEE;
 }
 #pageMain section.home-demo canvas {
  background-color: #EEE; 
  border: 1px solid grey;
  margin: 6px;
  padding: 0;
  border-radius: 10px;
 }
 
#pageMain section.home-bottom {
  text-align: center;
 }

 #pageMain .splashContainer {
  width:100%;
  background-image: url(../public/img/multi-chart3-dark.jpg);
  background-repeat: no-repeat;
  background-size:cover;  
  height:700px;
  font-size: 200%;
  color:#F6F7F9;
  margin: 0;
 }

 #pageMain .splashContainer .toprow {
  margin:200px 200px auto 100px;
  background-color: rgba(0, 0, 0, 0.7);
 }
 
@media (max-width: 868px) {
  #pageMain .splashContainer .toprow {
   margin:10px 10px auto 10px;
   height:400px;
  }
  #pageMain .splashContainer {
    height:400px;
    font-size: 150%;
  }
}
@media (max-width: 500px) {
  #pageMain .splashContainer {
    height:300px;
    font-size: 120%;
  }
}
 
 #pageMain .buttoncontainer {
  position:relative;
  top:-20px;
  font-size: 200%;
  text-align: center;
  width:90%;
 }

/**************************** #pageMain - END *****************************/


/**************************** .dashboardpage - i.e.One single dashboard *****************************/
.dashboardPage {
  height:100%;
}

.dashboardPage .aeditor textarea { width:100%;  }
.dashboardPage .aeditorModal textarea { width:100%; }
.dashboardPage .aeditor-controls { position:sticky; top:0; width:100%; z-index: 10; }


.dashboardPage .editToggle {
  padding:2px; 
  margin:0 2px 0 40px; 
}

.dashboardPage .editToggle .bp4-control { margin:auto 2px; }



/**************************** .switch-field *****************************/

.dashboardPage {
    .switch-field {
      display: flex;
      margin-bottom: 2px;
      overflow: hidden;

    }
    
    .switch-field input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
    
    .switch-field label {
      background-color: #e4e4e4;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 2;
      text-align: center;
      padding: 3px 7px;
      margin-right: -1px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      transition: all 0.1s ease-in-out;
    }
    
    
    .switch-field input:checked + label {
      background-color: $blew-selected;
      box-shadow: none;
    }
    
    .switch-field label:hover { cursor: pointer; }
    // .switch-field label:first-of-type { border-radius: 4px 0 0 4px; }
    // .switch-field label:last-of-type { border-radius: 0 4px 4px 0; }
}

/**************************** .dashboardpage - END *****************************/


/**************************** .dashpage - i.e. The page listing all of the dashboards *****************************/

.dashpage #dashboardListing { margin-bottom: 20px;}
.dashpage #dashboardListing::after {  clear: both; content: ''; display: block; }

.dashpage #demoListing  { margin-bottom: 30px;}
.dashpage #demoListing::after {  clear: both; content: ''; display: block; }

.dashpage #demoListing #demosDiv::after, .dashpage #demoListing #kdbDemosDiv::after {
  clear: both; content: ''; display: block; }
  
/**************************** .dashpage - END *****************************/

/**************************** .connectionpage - i.e. The page listing all of the connections *****************************/
.connectionpage {}
/**************************** .connectionpage - END *****************************/

/**************************** .sqleditorpage   *****************************/
.sqleditorpage {}

.sqleditorpage .serverTree li.entityNode { padding:0; margin:0 }
.sqleditorpage .serverTree  { font-size: 0.9em; }
.sqleditorpage .serverTree .bp4-tree-node-content  { height:auto; margin-top: 1px;}
/**************************** .sqleditorpage - END *****************************/

/* QueryableEditor 
 * Codemirror is purposefully positioned bottom and allowed to be whatever length needed.
  * That then means the outer container will have a scroll. 
  * Finally to keep controls visible, we make them sticky.
*/


.QueryableEditorControls {
  position:sticky; position: -webkit-sticky;
  top:0; 
  z-index:11;
  display:inline-flex;
  width:100%;
  margin:0; padding:0; 
  z-index:10;
  vertical-align: middle;
  background-color: #FFFFFF; /* THIs is needed for floating SqlEditorPage controls */
  border-bottom:1px solid #aaa;
}
.mydrawer .QueryableEditorControls { background:#EEE }
.Appdark .QueryableEditorControls { background:$menubg-dark-c; }

.QueryableEditorControls select,button,label {
  padding:2px; margin:5px;
}
.chartSelect button { width:150px; margin-left: 2px; }

.cm-scroller { overflow: auto; }
.cm-editor .cm-content { font-family: "Consolas";}
.cm-editor.cm-focused { outline: 2px solid cyan }
.cm-content { border:1px solid #cdcdcd}
.cm-scroller { min-height: 200px; max-height: 50%;}
/* CommonComponents */

.mydrawer {
  border-top: 1px groove $greyyc-c;
  border-left: 1px groove $greyyc-c;
  border-bottom: 1px groove $greyyc-c;
  border-radius: 1px;
  background-color: $bodybg-light-c;
}

.drawerFormWrapper {
  overflow-y: auto;
  height:99vh;
}

.Appdark .mydrawer {
  background-color: $menubg-dark-c;
}

.mydrawer h2 {
  margin: 1px 0;
  padding: 0;
  font-size: 90%;
}

.mydrawer .drawerClose {
  position:fixed; position: -webkit-sticky;
  right:10px;
  z-index:12;
}

.mydrawer .drawerFormWrapper {
  padding-bottom: 20px;
}

table.bp4-html-table-condensed {
  border: 1px solid grey;
  margin: 10px 2px;
  border-collapse: collapse;
}
table.bp4-html-table-condensed td {
  padding: 3px 5px;
}
table.bp4-html-table-condensed th {
  text-align: center;
}

/* ###############     Floatbox - start */

// floatbox = jdenticon front, top title, p shown on hover
// floatbox2 = background image, foreground title, p shown on hover


.dashboxContainer{
  width: 270px;
  height: 150px;
  position: relative;
}
.dashbox{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
}
.dashbox-top{
  z-index: 9;
  width:150px; height:150px;
}


.Appdark .floatbox,.Appdark .floatbox2 {
  border-color:$slickbg-c;
}
#dashboardListing .floatbox2:hover,#dashboardListing .floatbox:hover {
  border-color:$blew-c;
}
.Appdark .floatbox a,.Appdark .floatbox2 a {
  color:#ccc;
}

.Appdark .floatbox:hover a,.Appdark .floatbox2:hover a {
  color:#eee;
}

.floatbox,.floatbox2 {
  float: left;
  transition: box-shadow 0.3s;
  border: 2px solid #bbb;
  margin: 4px;
  padding: 2px 4px;
  border-radius: 10px;
  vertical-align: top;
  text-align: center;
}

.floatbox:hover,.floatbox2:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}


.floatbox2:hover { 
  filter:grayscale(0%);
}
.floatbox2 {
  filter:brightness(150%) contrast(120%);
  background-size:cover;
}

.floatbox2 .filler {
  width: 260px;
  min-height: 60px;
}


.floatbox2 h4 {
  width:100%;
  margin:20px 0;
  padding:10px;
  background:#111;
  color:#EEE;
  opacity: 0.8;
}

.floatbox2 div {
  margin: 0px 2px;
}

.floatbox2:hover p,.floatbox2:hover h4 {
  opacity: 0.95;
  background-color: #111;
}

.floatbox2 p {
  margin:0;
  padding:0;
  opacity: 0;
  transition: all 0.2s; /* Use a transition if you want */
  border-radius: 10px;
}


.floatbox h4 {
  margin: 1px;
}

.floatbox p button { padding:0 15px; margin:0; }
.floatbox .identicon { padding:0; margin:0; }
.floatbox .demo { 
  height:150px; 
  margin:10px;
}

.Appdark .floatbox img {
  filter:brightness(130%) contrast(130%) saturate(110%);
}
.Appdark .floatbox:hover img {
  filter:brightness(150%) contrast(150%) saturate(150%);
}
.floatbox img {
  filter:saturate(170%);
}
.floatbox:hover img {
  filter:brightness(100%) contrast(100%) saturate(100%);
}
.floatbox p.whenhover {
  margin:0 0 -25px 0;
  padding:0;
  opacity: 0;
  transition: all 0.2s; /* Use a transition if you want */
  border-radius: 10px;
  position: relative;
  top:-25px;
  z-index: 10;
  background-color: #111;
}
.Appdark {
  background-color: $menubg-dark-c;
}
.floatbox p.whenhover .bp4-button-text {
  color:#999;
}

.floatbox:hover p.whenhover {
  opacity: 0.95;
}

/* ###############     Floatbox - end */

/* Page: Dashboard Listing */

/*** FORM **/
.selectPop {
  overflow-y: auto;
  overflow-x: visible;
  max-height: 200px;
}

#editor2 .AFormComponentEditor .hardcodedQueryEditor { margin-top:5px; }
#editor2 .AFormComponentEditor { border-top: 1px solid $slickbg-c; margin-top: 5px;}
#editor2 .drawerFormWrapper table,#editor2 .drawerFormWrapper select,#editor2 .drawerFormWrapper input,#editor2 .drawerFormWrapper textarea { 
  font-size: 11px;
}

.aform { 
  padding: 2px 5px; 
  display: flex;
  line-height: 16px;
  font-size: 15px;
}
.aform label { margin:2px}

.aformVert {
  flex-direction: column;
}

.aformHorizontal {
  flex-direction: row;
  width:90%;
}

.aformRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  vertical-align: middle;
}

.aform {

  .bp4-input {
    height:22px;
  }

  .bp4-numeric-input {
      button { margin:0; height:10px; flex: 0.4 0.4 5px !important;}

  }

}

/** CommonComponents **/

.MyHelpLink {
  padding: 2px;
}

/*** GRID **/

.AgGridReactDiv { 
  width:100%;
  height:100%;
}

.AgGridReactDivFooter { 
  bottom: 0; 
  position:absolute; 
  padding: 3px; 
  border: 1px solid grey;
  color: grey 
}

.sd_cell_green,.SD_CELL_GREEN,.slick-cell .green,.slick-cell .GREEN {
  background-color: rgba(99, 255, 9, 0.5);
}
.sd_cell_red,.SD_CELL_RED,.slick-cell .red,.slick-cell .RED {
  background-color: rgba(255, 0, 0, 0.5);
}


.databar {
  border: 1px solid black;
  padding: 0 0 1px 0;
  margin: 0;
}



/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.4/customize/)
 */
/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0 0.1em;
}
mark {
  background: #ff0;
  color: #000;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
